* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;

  img {
    width: 100%;
  }

  body {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    section {
      width: 100%;
      height: 100%;
      padding: 1rem 1rem 1rem 15rem;
    }

    @media (min-width: 759px) {
      #section-bartenders {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1rem;
      }

      .data-column {
        grid-column: span 1;
        grid-row: span 2;
      }

      .data-box {
        grid-column: span 2;
        grid-row: span 1;
      }
    }
  }
}
