$theme: "dark";
$primary-color: var(--primary-color);
$primary-light: var(--primary-light);
$primary-dark: var(--primary-dark);
$secondary-color: var(--secondary-color);
$font-color: var(--font-color);
$icon-color: var(--icon-color);
$low-color: var(--low-color);
$middle-color: var(--middle-color);
$high-color: var(--high-color);
$header-font: rustica, sans-serif;
$body-font: "Open Sans", sans-serif;
$regular: 500;
$bold: 700;
$extra-bold: 800;
$black: 900;

html[data-theme="dark"] {
  --theme: "dark";
  --primary-color: #191919;
  --primary-light: #383838;
  --primary-dark: #242424;
  --secondary-color: #ffd750;
  --font-color: white;
  --icon-color: white;
  --low-color: red;
  --middle-color: rgb(214, 214, 69);
  --high-color: rgb(59, 163, 59);
}

html[data-theme="light"] {
  --theme: "light";
  --primary-color: #fcfcfc;
  --primary-light: #d7d7d7;
  --primary-dark: #efefef;
  --secondary-color: blue;
  --font-color: black;
  --icon-color: black;
  --low-color: rgb(182, 86, 86);
  --middle-color: rgb(214, 214, 69);
  --high-color: rgb(59, 163, 59);
}
