$primary-color: #191919;
$primary-light: #424242;
$secondary-color: #ffd750;
$font-color: #ffffff;
$header-font: rustica, sans-serif;
$body-font: "Open Sans", sans-serif;
$regular: 500;
$bold: 700;
$extra-bold: 800;
$black: 900;
